@using MVCSTOKTAKIP.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "MUSTERI", FormMethod.Get))
{
    <p>
        <b></b> Aranacak Müşteri Adı:@Html.TextBox("p")
        <input type="submit" value="ara" />
    </p>
}

<table id="tbl1" class="table table-bordered">
    <thead>


        <tr>
            <td>MUSTERI ID</td>
            <td>MUSTERI AD</td>
            <td>MUSTERI SOYAD</td>
            <td> SİL </td>
            <td> GÜNCELLE</td>
            <td>  Alert</td>
        </tr>

    </thead>
    <tbody>
        @foreach (var musteri in Model)
        {

            <tr>
                <th>@musteri.MUSTERIID</th>
                <td>@musteri.MUSTERIAD</td>
                <td>@musteri.MUSTERISOYAD</td>
                <td><a href="/MUSTERI/SIL/@musteri.MUSTERIID" class="btn btn-danger">SIL</a> </td>
                <td><a href="/MUSTERI/MusteriGetir/@musteri.MUSTERIID" class="btn btn-success">GUNCELLE</a> </td>
                <td>@Html.ActionLink("SİL BUTONU", "SIL", new { id = musteri.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('gerçekten silmek istiyor musunuz')" })</td>
            </tr>


        }
    </tbody>
</table>
<a href="/MUSTERI/YeniMusteri" class="btn btn-primary center-block">YENİ MUSTERI EKLE</a>



<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tbl1').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });
</script>   @*jquery data table*@
