@using MVCSTOKTAKIP.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <td>MUSTERI ID</td>
        <td>MUSTERI AD</td>
        <td>MUSTERI SOYAD</td>
    </tr>
    <tbody>
        @foreach (var musteri in Model)
        {

            <tr>
                <th>@musteri.MUSTERIID</th>f
                <td>@musteri.MUSTERIAD</td>
                <td>@musteri.MUSTERISOYAD</td>
                <td><a href="MUSTERILER/SIL/@musteri.MUSTERIID" class="btn btn-danger">SIL</a> </td>
                <td><a href="MUSTERILER/GUNCELLE/@musteri.MUSTERIID" class="btn btn-success">GUNCELLE</a> </td>
            </tr>
        }
    </tbody>
</table>
<a href="/MUSTERI/YeniMusteri" class="btn btn-primary center-block">YENİ MUSTERI EKLE</a>
