
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">

    <div>
        <label>MÜSTERİ ADI</label>
        <input type="text" name="MUSTERIAD" class="form-control" />
    </div>
    <div>
        <label> MUSTERİ SOYAD</label>
        <input type="text" name="MUSTERISOYAD" class="form-control" />
    </div>
    <div style="margin-top:15px">
    <button class="btn-info"> MUSTERI EKLE </button>
    </div>







</form>

