
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label> URUN AD </label>
        <input type="text" class="form-control" name="URUNAD" />
    </div>
    <div>
        <label> ÜRÜN MARKA</label>
        <input type="text" class="form-control" name="MARKA" />
    </div>
    <div>
        <label> KATEGORİ SEÇİNİZ  </label>
        <input type="text" class="form-control" name="URUNKATEGORI" />
    </div>
    <div>
        <label> FİYATI GİRİNİZ </label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <div>
        <label> KAÇ ADET </label>
        <input type="text" class="form-control" name="STOK" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info"> Kategori Ekle  </button>
    </div>

</form>
